rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {  
    
    match /cities/{cityId} {
    	allow read; 
      allow write: if false;
    }

    match /likes/{likeId}{
    	allow read, write: if isSignedIn();
    }
    
		match /users/{userId}{
    	allow read, write: if isOwner(userId);
    }
    
    match /guides/{guideId}{
    	allow read;
      allow write: if isAdmin();
    }
    
    function isSignedIn() {
    	return request.auth != null;
    }
    
    function isOwner(userId) {
    	return request.auth.uid == userId;
    }
    
    function isAdmin() {
    	return request.auth.token.admin == true;
    }
  
  }
}